/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

/* Reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ********** */
/* Завдання 1. */

/* Стилізація для інпуту */

/* Normal state */
#datetime-picker {
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
}

/* Hover state */
#datetime-picker:hover {
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
}

/* Active state */
#datetime-picker:active,
#datetime-picker:focus {
  border: 1px solid #4e75ff;
  border-radius: 4px;
  color: #000;
  outline: none;
}

/* Disabled state */
#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
  cursor: not-allowed;
}

/* Стилізація для кнопки */

/* Normal state */
button[data-start] {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

/* Hover state */
button[data-start]:hover {
  background: #6c8cff;
}

/* Disabled state */
button[data-start]:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 24px;
  margin-top: 32px;
  width: 346px;
  height: 72px;
}
.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 72px;
}
.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
/* ********************************************** */
/* Завдання 2. */

.form {
  box-sizing: border-box;
  width: 360px;
}

.form label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form input[type='number'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 8px;
  box-sizing: border-box;
  padding-left: 10px;
}

.form input[type='number']:hover {
  border: 1px solid #000;
}

.form input[type='number']:active,
.form input[type='number']:focus {
  border: 1px solid #4e75ff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 360px;
  height: 78px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  margin-top: 16px;
}

fieldset:hover {
  stroke: #000;
}

fieldset legend {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: 14px;
}

fieldset label {
  height: 32px;
  gap: 24px;
}

fieldset input[type='radio']:hover {
  background: #4e75ff;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

button:hover {
  background: #6c8cff;
}
